@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}
@keyframes fade-in {
    0%{
        transform: translateX(2rem);
    }
    50%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0);
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono';
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Light-grayish-cyan);
}

img{
    width: 100%;
    max-width: 7rem;
    margin-bottom: 4rem;
}

#container{
    width: 100%;
    max-width: 50rem;
    height: 28rem;
    display: flex;
    background-color: var(--White);
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
}

.left_side{
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.numberbill{
    margin-bottom: 0.2rem;
}

#numberbill{
    width: 100%;
    max-width: 20rem;
    height: 2.8rem;
    padding: 1rem;
    text-align: right;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.3rem;
    color: var(--Very-dark-cyan);
    background: url(./images/icon-dollar.svg) no-repeat var(--Very-light-grayish-cyan);
    background-position-x: 0.9rem;
    background-position-y: 0.9rem;
}

.select_tip{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
    margin-bottom: 1.5rem;
}

.percent{
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

.percent_number{
    width: 6rem;
    height: 2.8rem;
    text-align: center;
    background-color: var(--Very-dark-cyan);
    font-size: 1.2rem;
    color: var(--White);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}
.percent_number:hover{
    transform: scale(1.02);
}

.percent_number_custom{
    width: 6rem;
    height: 2.8rem;
    text-align: center;
    background-color: var(--Very-light-grayish-cyan);
    font-size: 1.4rem;
    color: var(--Dark-grayish-cyan);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}
.percent_number_custom:hover{
    transform: scale(1.02);
}


label{
    color: var(--Dark-grayish-cyan);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

#numberpeople{
    width: 100%;
    max-width: 20rem;
    height: 2.8rem;
    padding: 1rem;
    text-align: right;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.3rem;
    background: url(./images/icon-person.svg) no-repeat var(--Very-light-grayish-cyan);
    background-position-x: 0.9rem;
    background-position-y: 0.9rem;
}

.right_side{
    width: 50%;
    background-color: var(--Very-dark-cyan);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first_value{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secund_value{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount_person{
    color: var(--Very-light-grayish-cyan);
}

blockquote{
    color: var(--Grayish-cyan);
}

.value{
    font-size: 2.5rem;
    color: var(--Strong-cyan);
}

.reset{
    width: 100%;
    max-width: 20rem;
    height: 3rem;
    color: var(--Very-dark-cyan);
    background-color: var(--Strong-cyan);
    border: none;
    border-radius: 0.2rem;
    font-size: 1.3rem;
    transition: 0.4s;
    cursor: pointer;
}

.reset:hover{
    transform: scale(1.02);
}

