
:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Light-grayish-cyan);
}

img{
    width: 100%;
    max-width: 7rem;
    margin-bottom: 4rem;
}

#container{
    width: 100%;
    max-width: 50rem;
    height: 28rem;
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 1.5rem;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
}